{% extends "base.html" %}
{% load static %}
{% block content %}      

{% load crispy_forms_tags %}

<div class="card p-3 mb-5">
    <div class="card-header px-3">
        <a href="{% url 'home' %}" class="fs-3"><i class="bi bi-arrow-left"></i></a>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="lead fw-normal">Change Password</span>
              <!-- <span class="text-muted small">Vet Details</span> -->
            </div>
          </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-rowpb-2">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>            
          </div>
    </div>
</div>


{% endblock %}