{% extends "base.html" %}
{% load static %}
{% block content %}      

{% load crispy_forms_tags %}

<div class="card p-3 mb-4">
    <div class="card-header px-3">
        <a href="{% url 'home' %}" class="fs-3"><i class="bi bi-arrow-left"></i></a>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="lead fw-normal">My Profile</span>
              <span class="text-muted small">Profile Details</span>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="bi bi-pencil"></i> Edit</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="post" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{profile_update_form|crispy}}
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
              
            </div>
          </div>

        
    </div>
    <div class="card-body">
        {% if profile %}
        <div class="d-flex flex-rowpb-2">
            <div class="flex-fill">
                <ul class="list-unstyled">
                    <li class="mb-3">
                      <span class="fw-bold me-2">Name:</span>
                      <span>{{profile.name}}</span>
                    </li>
                    <li class="mb-3">
                      <span class="fw-bold me-2">Mobile No.:</span>
                      <span>{{profile.mobile_no}}</span>
                    </li>
                    
                  </ul>
            </div>
            <div>
              <img class="align-self-center img-fluid"
                src="{{profile.image.url}}" width="250">
            </div>
          </div>
        {% else %}
        No profile found. Please create a profile. 
        {% endif %}
    </div>
</div>


{% endblock %}