{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="" >
	<div class="container py-5">
	  <div class="row d-flex justify-content-center align-items-center">
		<div class="col col-xl-10">
		  <div class="card shadow" style="border-radius: 1rem;">
			<div class="row g-0">
			  <div class="col-md-6 col-lg-5 d-none d-md-block align-self-center">
				<img src="https://img.freepik.com/premium-vector/veterinarian-examining-dog-vet-clinic_227564-347.jpg"
				  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
			  </div>
			  <div class="col-md-6 col-lg-7 d-flex align-items-center">
				<div class="card-body p-4 p-lg-5 text-black">
  
				  <form method="post">
					{% csrf_token %}
					<div class="d-flex align-items-center mb-3 pb-1">
					  <span class="h1 fw-bold mb-0"><img src="{% static 'anicare/svg/logo.svg' %}" alt=""></span>
					</div>
  
					<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register Here</h5>

					{{ register_form.non_field_errors }}
					
					<div class="form-outline mb-4">
						{{register_form.username}}
					</div>

					<div class="form-outline mb-4">
					  {{register_form.email}}
					</div>
						
					<div class="form-outline mb-4">
						{{register_form.password1}}
					</div>

					<div class="form-outline mb-4">
					  {{register_form.password2}}
					</div>
  
					<div class="pt-1 mb-4">
					  <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
					</div>
  
					<p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/login"
						style="color: #393f81;">Login here</a></p>
				  </form>
  
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
{% endblock %}