{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AniCare</title>
  <link rel="icon" type="image/x-icon" href="{% static 'anicare/favicon.ico' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
  <style>
   #example_wrapper .row{
    overflow: auto;
   }
  </style>
</head>

<body>
  {% if user.username is "AnonymousUser" %}
  <script type="text/javascript">
    setTimeout(function() {
        window.location.href = "/login/";
    }, 2000);
</script>
  {% endif %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light border">
    <div class="container-fluid">
      <a class="navbar-brand px-5" href="#"><img src='{% static "anicare/svg/logo.svg" %}' alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-5">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vet-list' %}">Vets</a>
          <!-- </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Medicals</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'complaint-list' %}">Complaints</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu " aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
          </li> -->
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <ul class="nav flex-row align-items-center list-unstyled p-4 gap-5">

          <!-- Notification dropdown START -->
          <li class="nav-item ms-0 ms-md-3 dropdown">
            <!-- Notification button -->
            <a class="nav-link p-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              data-bs-auto-close="outside">
              <i class="bi bi-bell fa-fw fs-5"></i>
            </a>
            <!-- Notification dote -->
            <span class="notif-badge animation-blink"></span>

            <!-- Notification dropdown menu START -->
            <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg">
              <div class="card bg-transparent" style="width: 18rem;">
                <!-- Card header -->
                <div class="card-header bg-transparent d-flex justify-content-between align-items-center border-bottom">
                  <h6 class="m-0">Notifications <span class="badge bg-danger bg-opacity-10 text-danger ms-2">1
                      new</span></h6>
                  <a class="small" href="#">Clear all</a>
                </div>

                <!-- Card body START -->
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush list-unstyled p-2">
                    <!-- Notification item -->
                    <li>
                      <a href="#" class="list-group-item list-group-item-action rounded notif-unread border-0 mb-1 p-3">
                        <h6 class="mb-2">Notification 1</h6>
                        <p class="mb-0 small">notification</p>
                        <span>Today</span>
                      </a>
                    </li>
                    
                  </ul>
                </div>

                <div class="card-footer bg-transparent text-center border-top">
                  <a href="#" class="btn btn-sm btn-link mb-0 p-0">See all incoming activity</a>
                </div>
              </div>
            </div>

          </li>


          <li class="nav-item ms-3 dropdown">
            <!-- Avatar -->
            <a class="avatar avatar-md  " href="#" id="profileDropdown" role="button" data-bs-auto-close="outside"
              data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="avatar-img rounded-circle" width="50"
                {% if user_profile %} src="{{user_profile.image.url}}" {% else %} src="{% static 'anicare/profile/default.webp' %}" {% endif %} alt="avatar">
            </a>

            <!-- Profile dropdown START -->
            <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
              aria-labelledby="profileDropdown">
              <!-- Profile info -->
              <li class="px-3 mb-3">
                <div class="d-flex align-items-center">
                  <!-- Avatar -->
                  <div class="avatar me-3">
                    <img class="avatar-img rounded-circle shadow" width="30"
                    {% if user_profile.image %} src="{{user_profile.image.url}}" {% else %} src="{% static 'anicare/profile/default.webp' %}" {% endif %} alt="avatar">
                  </div>
                  <div>
                    <a class="h6 mt-2 mt-sm-0" href="#">{{user.username}}</a>
                    <p class="small m-0">{{user.email}}</p>
                  </div>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'user-profile'  %}"><i class="bi bi-person-circle fa-fw me-2"></i>My Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'change-password' %}"><i class="bi bi-key fa-fw me-2"></i>Change Password</a></li>
              <li><a class="dropdown-item bg-danger-soft-hover" href="/logout"><i
                    class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="content-wrapper m-3 mb-5">
    {% block content %}

    {% if user.is_superuser %}
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row g-3 mb-4 justify-content-center">
        <div class="col-sm-6 col-xl-3">
          <div class="card ">
            <div class="card-body">
              <div class="d-flex align-items-start justify-content-between">
                <div class="content-left">
                  <span>Total Users</span>
                  <div class="d-flex align-items-end mt-2">
                    <h4 class="mb-0 me-2">{{total_users}}</h4>
                    <!-- <small class="text-success">(+29%)</small> -->
                  </div>
                  <small>Total Users</small>
                </div>
                <span class="rounded border p-2">
                  <i class="bi bi-person"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card ">
            <div class="card-body">
              <div class="d-flex align-items-start justify-content-between">
                <div class="content-left">
                  <span>Total Vets</span>
                  <div class="d-flex align-items-end mt-2">
                    <h4 class="mb-0 me-2">{{total_vets}}</h4>
                    <!-- <small class="text-success">(+18%)</small> -->
                  </div>
                  <small>Total Vets</small>
                </div>
                <span class="rounded border p-2">
                  <i class="bi bi-person-add"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card ">
            <div class="card-body">
              <div class="d-flex align-items-start justify-content-between">
                <div class="content-left">
                  <span>Total Complaints</span>
                  <div class="d-flex align-items-end mt-2">
                    <h4 class="mb-0 me-2">{{total_complaints}}</h4>
                    <!-- <small class="text-danger">(-14%)</small> -->
                  </div>
                  <small>Total Complaints</small>
                </div>
                <span class="rounded border p-2">
                  <i class="bi bi-file-text"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card p-3 mb-3">
        <div class="card-header px-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="lead fw-normal">User List</span>
              <span class="text-muted small">All Users</span>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="bi bi-plus-lg"></i> Add User</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="card-body ">
          <table id="example" class="table table-striped p-3" style="width:100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>Name</th>
                <th>Mobile No.</th>
                <th>Email</th>
                <th>Date Joined</th>
                <th>Last Login</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for i in users %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'user-profile-update' i.id %}">{{i.username}}</a></td>
                {% for j in profiles %}
                {% if i.username == j.user.username %}
                <td>{{j.name}}</td>
                <td>{{j.mobile_no}}</td>
                {% endif %}
                {% endfor %}
                <td>{{i.email}}</td>
                <td>{{i.date_joined}}</td>
                <td>{{i.last_login}}</td>
                <td><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{i.id}}">
                  <i class="bi bi-trash3"></i>
                </button>
                <div class="modal fade" id="deleteModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Do you want to delete {{i.username}} ?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'user-profile-delete' i.id %}" class="btn btn-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                </td>
              </tr>
              
              {% endfor %}
              
            </tbody>

          </table>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row g-3 mb-4 justify-content-center">
        <div class="col-sm-6 col-xl-3">
          <div class="card ">
            <div class="card-body">
              <div class="d-flex align-items-start justify-content-between">
                <div class="content-left">
                  <span>Total Vets</span>
                  <div class="d-flex align-items-end mt-2">
                    <h4 class="mb-0 me-2">{{total_vets}}</h4>
                    <!-- <small class="text-success">(+29%)</small> -->
                  </div>
                  <small>Total Veterinary Doctors</small>
                </div>
                <span class="rounded border p-2">
                  <i class="bi bi-person"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card ">
            <div class="card-body">
              <div class="d-flex align-items-start justify-content-between">
                <div class="content-left">
                  <span>My Complaints</span>
                  <div class="d-flex align-items-end mt-2">
                    <h4 class="mb-0 me-2">{{my_complaints}}</h4>
                    <!-- <small class="text-success">(+18%)</small> -->
                  </div>
                  <small>My Total Complaints </small>
                </div>
                <span class="rounded border p-2">
                  <i class="bi bi-file-text"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card p-3 mb-5">
        <div class="card-header px-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="lead fw-normal">My Recent Complaints</span>
              <span class="text-muted small">All Recent Complaints</span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table id="example" class="table table-striped p-3" style="width:100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Created On</th>
                <th>Updated On</th>
                <th>Resolved</th>
              </tr>
            </thead>
            <tbody>
              {% for i in my_recent_complaints %}
              
                <tr>
                  <td>{{forloop.counter}}</td>
                <td><a href="{% url 'complaint-detail' pk=i.id %}">{{i.title}}</a></td>
                <td>{{i.created_on}}</td>
                <td>{{i.updated_on}}</td>
                <td>{{i.is_resolved}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}

    <script>
      $(document).ready(function () {
        $('#example').DataTable();
      });
      
    </script>
    {% endblock %}
  </div>

  
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'success'%}
  <div class="mb-3 p-3" style="position: absolute; bottom: 35px; right: 0;">
  <div {% if message %} class="toast" {% else %} class="toast" {% endif %} role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast-header">
      <div class="btn btn-success bg-success me-2" ></div>
      <strong class="me-auto">Success</strong>
      <!-- <small>11 mins ago</small> -->
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>
  </div>
  <!-- <script>M.toast({ html: "{{message}}", classes: 'green rounded', displayLength: 2000 });</script> -->
  {% elif message.tags == 'info'%}
  <div class="mb-3 p-3" style="position: absolute; bottom: 35px; right: 0;">
  <div {% if message %} class="toast" {% else %} class="toast" {% endif %} role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast-header">
      <div class="btn btn-success bg-info me-2" ></div>
      <strong class="me-auto">Info</strong>
      <!-- <small>11 mins ago</small> -->
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>
  </div>
  <!-- <script>M.toast({ html: "{{message}}", classes: 'blue rounded', displayLength: 2000 });</script> -->
  {% elif message.tags == 'warning'%}
  <div class="mb-3 p-3" style="position: absolute; bottom: 35px; right: 0;">
  <div {% if message %} class="toast" {% else %} class="toast" {% endif %} role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast-header">
      <div class="btn btn-success bg-warning me-2" ></div>
      <strong class="me-auto">Warning</strong>
      <!-- <small>11 mins ago</small> -->
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>
  </div>
  <!-- <script>M.toast({ html: "{{message}}", classes: 'orange rounded', displayLength: 10000 });</script> -->
  {% elif message.tags == 'error'%}
  <div class="mb-3 p-3" style="position: absolute; bottom: 35px; right: 0;">
  <div {% if message %} class="toast" {% else %} class="toast" {% endif %} role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast-header">
      <div class="btn btn-success bg-danger me-2" ></div>
      <strong class="me-auto">Error</strong>
      <!-- <small>11 mins ago</small> -->
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>
  </div>
  <!-- <script>M.toast({ html: "{{message}}", classes: 'red rounded', displayLength: 10000 });</script> -->
  {% endif %}
  {% endfor %}
  {% endif %}

<script>
var toast = $('.toast');
toast.addClass('show');
setTimeout(function() {
  toast.removeClass('show');
}, 5000);
</script>

  <footer class="footer mt-auto py-3 bg-success fixed-bottom" >
    <span class="text-white justify-self-start px-5">© 2023 AniCare</span>
    <div>
      
    </div>
  </footer>
</body>

</html>