{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="card p-3">
  <div class="card-header px-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column">
        <span class="lead fw-normal">Complaint List</span>
        <span class="text-muted small">All Complaints</span>
      </div>
      <div>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="bi bi-plus-lg"></i> Add Complaint</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Complaint</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form|crispy}}
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table id="example" class="table table-striped p-3" style="width:100%">
      {% if user.is_superuser %}
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Created On</th>
          <th>Updated On</th>
          <th>Created By</th>
          <!-- <th>Updated By</th> -->
          <th>Resolved</th>
        </tr>
      </thead>
      <tbody>
        {% for i in complaint_list %}
          <tr>
            <td>{{forloop.counter}}</td>
          <td><a href="{% url 'complaint-detail' pk=i.id %}">{{i.title}}</a></td>
          <td>{{i.created_on}}</td>
          <td>{{i.updated_on}}</td>
          <td>{{i.user}}</td>
          <!-- <td>{{i.updated_by}}</td> -->
          <td>{% if i.is_resolved is True%}<i class="btn btn-success bi bi-check-circle"></i>{% else %}<i class="btn btn-danger bi bi-x-circle"></i>{% endif %}</td>
          </tr>
        {% endfor %}
       
      </tbody>
      {% else %}
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Created On</th>
          <th>Updated On</th>
          <th>Created By</th>
          <!-- <th>Updated By</th> -->
          <th>Resolved</th>
        </tr>
      </thead>
      <tbody>
      {% for i in user_complaint_list %}
      <tr>
        <td>{{forloop.counter}}</td>
      <td><a href="{% url 'complaint-detail' pk=i.id %}">{{i.title}}</a></td>
      <td>{{i.created_on}}</td>
      <td>{{i.updated_on}}</td>
      <td>{{i.user}}</td>
      <!-- <td>{{i.updated_by}}</td> -->
      <td>{% if i.is_resolved is True%}<i class="btn btn-success bi bi-check-circle"></i>{% else %}<i class="btn btn-danger bi bi-x-circle"></i>{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
      {% endif %}
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#example').DataTable();
  });

</script>

{% endblock %}