{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card p-3 mb-4">
    <div class="card-header px-3">
        <a href="{% url 'complaint-list' %}" class="fs-3"><i class="bi bi-arrow-left"></i></a>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="lead fw-normal">Complaint Details</span>
              <span class="text-muted small">Complaint Details</span>
            </div>
            <div>
              {% if not object.is_resolved %}
              {% if not user.is_superuser %}
                
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="bi bi-pencil"></i> Edit</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Edit Complaint</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
              {% endif %}
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bi bi-trash3"></i>
              </button>
              <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Complaint</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Do you want to delete {{object.title}} ?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a href="{% url 'complaint-delete' pk=id %}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>

        
    </div>
    <div class="card-body">
        <div class="d-flex flex-rowpb-2">
            <div class="flex-fill">
                <ul class="list-unstyled">
                    <li class="mb-3">
                      <span class="fw-bold me-2">Title:</span>
                      <span>{{object.title}}</span>
                    </li>
                    <li class="mb-3">
                      <span class="fw-bold me-2">Description:</span>
                      <span>{{object.description}}</span>
                    </li>
                    <li class="mb-3">
                      <span class="fw-bold me-2">Created On:</span>
                      <span>{{object.created_on}}</span>
                    </li>
                    <li class="mb-3">
                      <span class="fw-bold me-2">Updated On:</span>
                      <span>{{object.updated_on}}</span>
                    </li>
                    {% if not user.is_superuser %}
                    <li class="mb-3">
                      <span class="fw-bold me-2">Status:</span>
                      <span>{% if object.is_resolved %} Resolved {% else %} Not Resolved {% endif %}</span>
                    </li>
                    {% else %}
                    <li class="mb-3">
                      <div class="form-check fw-bold me-2">
                        <label class="form-check-label" for="flexCheckDefault">
                          Resolved
                        </label>
                        <span><input class="form-check-input" id="is_resolved" type="checkbox" {% if object.is_resolved %} checked disabled {% endif %}   id="flexCheckDefault"></span>
                      </div>
                    </li>
                    {% endif %}
                  </ul>
            </div>
            <div class="d-flex flex-rowpb-2">
            <span class="fw-bold me-2">Uploaded Image: </span>
              <img class="align-self-center img-fluid"
                src="{{object.images.url}}" width="250" >
            </div>
          </div>
    </div>
</div>

<script>
  $("#is_resolved").change(function() {
    const formdata = new FormData();
    if(this.checked) {
        formdata.append('is_resolved', 'True')
        fetch("{% url 'complaint-detail' object.id %}", {
          method: 'POST',
          headers:{
              'Accept': 'application/json',
              'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
              'X-CSRFToken': '{{csrf_token}}',
      },
          body: formdata //JavaScript object of data to POST
      })
      //.then(response => {
        //      console.log(response)
        //      return response.json() //Convert response to JSON
      //})
    }
    else{
      formdata.append('is_resolved', 'False')
        fetch("{% url 'complaint-detail' object.id %}", {
          method: 'POST',
          headers:{
              'Accept': 'application/json',
              'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
              'X-CSRFToken': '{{csrf_token}}',
      },
          body: formdata //JavaScript object of data to POST
      })
     // .then(response => {
      //        return response.json() //Convert response to JSON
    //  })
    }
});
</script>

{% endblock %}