{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card p-3 mb-4">
    <div class="card-header px-3">
        <a href="{% url 'vet-list' %}" class="fs-3"><i class="bi bi-arrow-left"></i></a>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
              <span class="lead fw-normal">Medicalization</span>
              <span class="text-muted small">Vet Details</span>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="bi bi-pencil"></i> Edit</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Edit Vet</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
              
              {% if user.is_superuser %}
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bi bi-trash3"></i>
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Vet</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Do you want to delete {{object.name}} ?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a href="{% url 'vet-delete' pk=id %}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              
            </div>
          </div>

        
    </div>
    <div class="card-body">
        <div class="d-flex flex-rowpb-2">
            <div class="flex-fill">
                <ul class="list-unstyled">
                    <li class="mb-3">
                      <span class="fw-bold me-2">Name:</span>
                      <span>{{object.name}}</span>
                    </li>
                    <li class="mb-3">
                      <span class="fw-bold me-2">Designation:</span>
                      <span>{{object.designation}}</span>
                    </li>
                    <li class="mb-3">
                      <span class="fw-bold me-2">Address:</span>
                      <span>{{object.address}}</span>
                    </li>
                    <li class="mb-3">
                      <span class="fw-bold me-2">Mobile No.:</span>
                      <span>{{object.mobile_no}}</span>
                    </li>
                    <li class="mb-3">
                      <span class="fw-bold me-2">Website:</span>
                      <a href="#"><span>{{object.website}}</span></a>
                    </li>
                    
                  </ul>
            </div>
            <div>
              <img class="align-self-center img-fluid"
                src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=338&ext=jpg&ga=GA1.2.1474187068.1665998109&semt=sph" width="250">
            </div>
          </div>
    </div>
</div>

{% endblock %}