{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="card p-3">
  <div class="card-header px-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column">
        <span class="lead fw-normal">Vet List</span>
        <span class="text-muted small">All Veterinary Doctors</span>
      </div>
      <div>
        {% if user.is_superuser %}
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="bi bi-plus-lg"></i> Add Vet</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Vet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post">
                  {% csrf_token %}
                  {{form|crispy}}
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    <table id="example" class="table table-striped p-3" style="width:100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Designation</th>
          <th>Address</th>
          <th>Mobile No.</th>
        </tr>
      </thead>
      <tbody>
        {% for i in vet_list %}
        
          <tr>
            <td>{{forloop.counter}}</td>
          <td><a href="{% url 'vet-detail' pk=i.id %}">{{i.name}}</a></td>
          <td>{{i.designation}}</td>
          <td>{{i.address}}</td>
          <td>{{i.mobile_no}}</td>
          </tr>
        {% endfor %}
      </tbody>
      
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>

{% endblock %}